<div class="form-respuesta ">
    {{ form_start(form,{'attr': {'class': 'form-inline', 'role':'form'} }) }}
        <div class="form-group">
            {{ form_label(form[nombre], nombre|humanize, { 'attr': {'class': 'control-label'} }) }}
            {{ form_errors(form[nombre]) }}
            {{ form_widget(form[nombre], { 'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>