{#
    si se definen nav y head -> header con paginación o con objetos
    si se definen objetos y head -> body con objetos
    si se define nav, head y foot -> fotter con paginación
    si se define foot -> fotter
    si se define head -> header
    si se define body -> body
    cada uno sería de la forma 
        {
            col:[
                {
                    String  dato    Dato a mostrar
                    String  class   Clase de Estilo de la celda
                    Integer cols    Columnas a ocupar
                    Integer rows    Filas a ocupar
                }
            ]
        }
#}

{# TFOOT #}
{% if nav is defined and nav is not empty and head is defined and head is not empty and foot is defined %}
    <tr>
        <th class="navegacion text-center" colspan="{{ (head|first).col|length }}">
            {{ knp_pagination_render(nav) }}
        </th>
    </tr>
{# TFOOT #}
{# THEAD #}
{% elseif nav is defined and nav is not empty and head is defined and head is not empty %}
    {% for fila in head %}
        <tr>
        {% for col in fila.col %}
            {% set attr_ = col.dato|lower|split(' ') %}
            {% set attr = '' %}
            {% for attr__ in attr_ %}
                {% if not loop.first %}
                    {% set attr = attr ~ attr__|title %}
                {% else %}
                    {% set attr = attr ~ attr__ %}
                {% endif %}
            {% endfor %}
            
            <th {{ col.class is defined and col.class is not empty?'class=' ~ col.class ~ '':'' }} {{ col.rows is defined and col.rows is not empty?'rowspan=' ~ col.rows:''}} {{ col.cols is defined and col.cols is not empty?'colspan=' ~ col.cols:''}}>
            {% if 'accion' in col.dato %}
                {{ col.dato }}
            {% else %}
                {{ knp_pagination_sortable(nav, col.dato, 'a.' ~ (col.dato|lower|replace({' ':'_'}))) }}
                {% if nav.isSorted('a.' ~ attr) %}
                    {% if 'asc' in app.request.query.get('direccion') %}
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    {% endif %}
                {% endif %}
            {% endif %}
            </th>
        {% endfor %}
        </tr>
    {% endfor %}
{# THEAD #}
{# OBJETOS #}
{% elseif objetos is defined and objetos is not empty and head is defined and head is not empty %}
    {% for obj in objetos %}
        <tr>
            {% for fila in head %}
                {% for col in fila.col %}
                    <td>
                        {% if col.acciones is defined %}
                            {% include 'FormatEasyCommonBundle:Index:botones.html.twig' with {
                                'buttonset'     :   'vertical',
                                'botones'       :   col.acciones is defined and col.acciones is not empty? col.acciones:[],
                                'sizing'        :   'pequeño',
                                'procesar_url'  :   'true',
                                'objeto'        :   obj,
                            } %}
                        {% else %}
                            {% set attr_ = col.dato|lower|split(' ') %}
                            {% set attr = '' %}
                            {% for attr__ in attr_ %}
                                {% if not loop.first %}
                                    {% set attr = attr ~ attr__|title %}
                                {% else %}
                                    {% set attr = attr ~ attr__ %}
                                {% endif %}
                            {% endfor %}
                            {% if 'fecha' in col.dato|lower %}
                                {{ attribute(obj,attr)|date("Y-m-d H:i:s") }}
                            {% else %}
                                {{ attribute(obj,attr) }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
    {% endfor %}
{# OBJETOS #}
{# FILAS #}
{% elseif filas is defined %}
    {% for fila in filas %}
        <tr>
        {% for col in fila.col %}    
            <th {{ col.class is defined and col.class is not empty?'class=' ~ col.class:'' }} {{ col.rows is defined and col.rows is not empty?'rowspan=' ~ col.rows:''}} {{ col.cols is defined and col.cols is not empty?'colspan=' ~ col.cols:''}}>
                {{ col.dato }}
            </th>
        {% endfor %}
        </tr>
    {% endfor %}
{% endif %}
{# FILAS #}
        