{% extends '::base_bootstrap.html.twig' %}

{% set f = entity %}
{% set pp = f.plantillaPreguntas %}

{% block body -%}
    {% include "FormatEasyFormatosBundle:Formato:_edit_design.html.twig" %}
<ul class="content-plantilla ">
        {% for pf1 in p %}
            {% if pf1.preguntas is defined %}
                {% set first = pf1.preguntas|first %}
                {#<li>
                    <h1>{{ first.getTextEtiquetas }}</h1>
                </li>#}
                <li class="template-item-pregunta {{ first.getTextEtiquetas }}">
                    <div class="options-design">
                        <div class="row">
                            <div class="btn-group">
                                <a href="{{ url('preguntaFormato_alinear', {'alinea': 'Izquierda', 'pregunta': first.id}) }}" class="btn btn-sm btn-default tooltip_ align" data-title="Alinear a la Izquierda" data-placement="top" data-toggle="tooltip" title="Alinear a la Izquierda">
                                    <span class="glyphicon glyphicon-align-left"></span>
                                </a>
                                <a href="{{ url('preguntaFormato_alinear', {'alinea': 'Centro', 'pregunta': first.id}) }}" class="btn btn-sm btn-default tooltip_ align" data-title="Alinear al Centro" data-placement="top" data-toggle="tooltip" title="Alinear al Centro">
                                    <span class="glyphicon glyphicon-align-center"></span>
                                </a>
                                <a href="{{ url('preguntaFormato_alinear', {'alinea': 'Derecha', 'pregunta': first.id}) }}" class="btn btn-sm btn-default tooltip_ align" data-title="Alinear a la Derecha" data-placement="top" data-toggle="tooltip" title="Alinear a la Derecha">
                                    <span class="glyphicon glyphicon-align-right"></span>
                                </a>
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown">
                                      Cols. <span class="glyphicon glyphicon-collapse-up"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ url('preguntaFormato_columnas', {'columnas': '6', 'pregunta': first.id}) }}">6 Columnas</a></li>
                                        <li><a href="{{ url('preguntaFormato_columnas', {'columnas': '5', 'pregunta': first.id}) }}">5 Columnas</a></li>
                                        <li><a href="{{ url('preguntaFormato_columnas', {'columnas': '4', 'pregunta': first.id}) }}">4 Columnas</a></li>
                                        <li><a href="{{ url('preguntaFormato_columnas', {'columnas': '3', 'pregunta': first.id}) }}">3 Columnas</a></li>
                                        <li><a href="{{ url('preguntaFormato_columnas', {'columnas': '2', 'pregunta': first.id}) }}">2 Columnas</a></li>
                                    </ul>
                                </div>{#
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown">
                                      Ancho <span class="glyphicon glyphicon-collapse-up"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ url('preguntaFormato_ancho', {'ancho': '6', 'pregunta': first.id}) }}">Ancho Mínimo</a></li>
                                        <li><a href="{{ url('preguntaFormato_ancho', {'ancho': '5', 'pregunta': first.id}) }}">Ancho 5</a></li>
                                        <li><a href="{{ url('preguntaFormato_ancho', {'ancho': '4', 'pregunta': first.id}) }}">Ancho 4</a></li>
                                        <li><a href="{{ url('preguntaFormato_ancho', {'ancho': '3', 'pregunta': first.id}) }}">Ancho 3</a></li>
                                        <li><a href="{{ url('preguntaFormato_ancho', {'ancho': '2', 'pregunta': first.id}) }}">Ancho 2</a></li>
                                        <li><a href="{{ url('preguntaFormato_ancho', {'ancho': '1', 'pregunta': first.id}) }}">Ancho Máximo</a></li>
                                    </ul>
                                </div>#}
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown">
                                      Vista <span class="glyphicon glyphicon-collapse-up"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ url('preguntaFormato_vista', {'vista': 'Linea', 'pregunta': pf.id}) }}">En Línea</a></li>
                                        <li><a href="{{ url('preguntaFormato_vista', {'vista': 'Bloque', 'pregunta': pf.id}) }}">En Bloque</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plantilla-aplica">
                        <div class="enunciado-pregunta">
                            <ul class="content-group-preguntas {{ first.getTextEtiquetas }}">
                                {% for pf in pf1.preguntas %}
                                    <li class="template-item-pregunta {{ pf.getTextEtiquetas }}">
                                        <div class="view-pregunta" id="{{f.canonical~'-'~pf.pregunta.canonical}}" data-pos="{{ pf is defined?pf.orden:'' }}" data-grupo="{{ pf.grupo is not empty?pf.grupo:'' }}">
                                            {% render(controller('FormatEasyFormatosBundle:Pregunta:formResponderPregunta', {
                                                'pregunta': pf.pregunta.canonical,
                                                'formato': f.canonical
                                            })) %}
                                        </div>
                                        <div class="clear clearfix clear-fix"></div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="respuesta-pregunta"></div>
                    </div>
                    <div class="clear clearfix clear-fix"></div>
                </li>
            {% else %}
                <li>
                    {% set pf = pf1 %}
                    {% set pr = pf.plantillaRespuesta %}
                    {% include 'FormatEasyFormatosBundle:PreguntaFormato:editDisenoPreguntaFormato.html.twig' %}
                    <div class="plantilla-aplica  {{ pf.getTextEtiquetas }}" data-grupo="{{ pf.grupo }}">
                        {{ pp.codigo | replace({'%respuesta%': ''}) | raw}}
                    </div>
                    <div class="clear clearfix clear-fix"></div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="content-encabezado">
        {% for pf in entity.preguntas %}
            {% if 'Encabezado' in pf.plantillaRespuesta.getTextEtiquetas and 'Formato' not in pf.plantillaRespuesta.getTextEtiquetas%}
            <li>
                {% set pr = pf.plantillaRespuesta %}
                {% include 'FormatEasyFormatosBundle:PreguntaFormato:editDisenoPreguntaFormato.html.twig' %}
                <div class="plantilla-aplica">
                    {{ pp.codigo | replace({'%respuesta%': ''}) | raw}}
                </div>
                <div class="clear clearfix clear-fix"></div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="content-pie">
        {% for pf in entity.preguntas %}
            {% if 'Pie' in pf.plantillaRespuesta.getTextEtiquetas and 'Encabezado' not in pf.plantillaRespuesta.getTextEtiquetas and 'Formato' not in pf.plantillaRespuesta.getTextEtiquetas%}
            <li>
            {% render(controller('FormatEasyFormatosBundle:PreguntaFormato:editDisenoPreguntaFormato', {'id': pf.id})) %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        var template, pos_antes = -1, paginas = 1, max_items = -1;
        $(document).ready(function(){
            $('.margen').addClass('mouseenter');
            var f = eval({{ entity.json | raw}}),
                pf = eval({{ plantillaFormato.json | raw}}),
                hoja = pf.hoja;
            $('.hoja-cont').css({
                'padding-top'    : f.margen_sup+f.unidad_margen,
                'padding-right'  : f.margen_der+f.unidad_margen,
                'padding-left'   : f.margen_izq+f.unidad_margen,
                'padding-bottom' : f.margen_inf+f.unidad_margen,
                'height': hoja.alto+hoja.unidad,
                'width' : hoja.ancho+hoja.unidad
            });
            $('form.edit-inline .hoja-cont').children().on({
                focusin: function(){
                    $('.hoja-cont').addClass('focused');
                },
                focusout: function(){
                    $('.hoja-cont').removeClass('focused');
                }
            });
            $('.margen').on({
                mouseenter: function(){
                    $(this).addClass('mouseenter');
                },
                mouseleave: function(){
                    if(!$(this).hasClass('focused'))
                        $(this).removeClass('mouseenter');
                },
                focusin: function(){
                    $(this).addClass('focused');
                },
                focusout: function(){
                    $(this).removeClass('focused mouseenter');
                }
            });
            var margen_input = null;
            $('.margen input, #unidad').on({
                mouseenter: function(){
                    if($(this).attr('id') !== 'unidad'){
                        margen_input = $(this);
                        $('#unidad').position({
                            of:         margen_input,
                            my:         "right center",
                            at:         "right center",
                            collision:  "fit fit"
                        });
                    }
                    margen_input.parent().addClass("mouseenter");
                    $('#unidad').stop().animate({opacity: 1});
                },
                mouseleave: function(){
                    
                    if(!margen_input.hasClass('focused') && !$('#unidad').hasClass('focused')){
                        margen_input.parent().removeClass("focused mouseenter");
                        $('#unidad').stop().animate({opacity: 0});
                    }
                },
                focusin: function(){
                    if($(this).attr('id') !== 'unidad'){
                        margen_input = $(this);
                        $('#unidad').position({
                            of:         margen_input,
                            my:         "right center",
                            at:         "right center",
                            collision:  "fit fit"
                        });
                    }
                    margen_input.parent().addClass("focused mouseenter");
                    $('#unidad').addClass('focused').stop().animate({opacity: 1});
                },
                focusout: function(){
                    $('#unidad').removeClass('focused').stop().animate({opacity: 0});
                    margen_input.parent().removeClass('mouseenter focused');
                }
            });
            
            /*Carga de la Página*/
            $('.hoja-cont .encabezado-pagina').css({
                'height'    :  f.margen_sup+f.unidad_margen,
                'margin-top':  (f.margen_sup*-1)+f.unidad_margen
            });
            $('.hoja-cont .pie').css({
                'height'    :  f.margen_inf+f.unidad_margen
            });
            //Template de los item de pregunta
            var template_item = $('.hoja-cont .contenido-pagina .template-item-pregunta').remove();
            template = template_item.clone();
            /*Carga de la Página*/
            
            /*Configuración*/
            var menu_open_l = '#mmenu-left';
            $(menu_open_l).find('.mm-inner .mmenu-content').html($('.hoja-config .form-hide').html());
            $(menu_open_l).find('.mm-inner .mmenu-content').find('select').on('change', function(){
                var val = $(this).val();
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')+' option').removeAttr('selected');
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')+' option[value='+val+']').attr('selected', true);
            });
            $(menu_open_l).find('.mm-inner .mmenu-content textarea').on('change, keyup', function(){
                var val = $(this).val();
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')).text(val);
            });
            $(menu_open_l).find('.mm-inner .mmenu-content input').on('change, keyup', function(){
                var val = $(this).val();
                if($(this).attr('type') === 'submit'){
                    $('.hoja-config .form-hide').find('#'+$(this).attr('id')).click();
                }else{
                    $('.hoja-config .form-hide').find('#'+$(this).attr('id')).val(val);
                }
            });
            $('.hoja-config').find('.btn.config').click(function(){
                var click_open = true;
                if($('html').hasClass('mm-opened') && !$('html').hasClass('mm-modal')){
                    $('nav.mmenu').not(menu_open_l).on("closed.mm",function(){
                            if(click_open){
                                $(menu_open_l).trigger('toggle.mm');
                                click_open = false;
                            }
                        }
                    ).trigger('close.mm');
                }else{
                    $(menu_open_l).trigger('toggle.mm');
                }
            });
            $('input[type=button].btn.delete').on('click', function(){
                if(true)
                    $('.form-hide.delete form').submit();
            });
            /*Configuración*/
            
            /*Construcción*/
            var menu_open_r = '#mmenu-right';
            
            $.ajax({
                url: "{{ url('_plantillarespuesta_buttonlistdiseno', {'formato': entity.canonical}) }}"  
            }).done(function(data) {
                $(menu_open_r).find('.mm-inner .mmenu-content').html(data);
                addHoja();
                dragItemsGroup();
                /*********************************************/
                dragSortPreguntas(".drop_pregunta","#button-list-plantilla-respuesta a.Formato, .content-group-preguntas", '.hoja-cont .content-pagina .drop_pregunta', 'Formato');
                /*********************************************/
                dragSortPreguntas(".encabezado-drop-pregunta","#button-list-plantilla-respuesta a.Encabezado-Pagina", '.hoja-cont .encabezado-pagina .encabezado-drop-pregunta', 'Encabezado-Pagina');
                /*********************************************/
                //dragSortPreguntas(".pie-drop-pregunta","#button-list-plantilla-respuesta a.Pie-Pagina", '.hoja-cont .pie-pagina .pie-drop-pregunta', Pie-Pagina);
                /*********************************************/
                $( "#button-list-plantilla-respuesta a, ol li" ).disableSelection();
                
            }).fail(function( jqXHR, textStatus ) {
                console.log("Request failed: "+textStatus);
            }).always(function() {
                ajustarContentAjax();
            });
            $('#button-list-plantilla-respuesta a').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
            });
            $('.hoja-config').find('.btn.construct').click(function(){
                window.location = "{{ url("formato__edit", {'id':entity.id}) }}";
            });
            $('.content-plantilla > li').each(function(){
                ajustarPreguntaFormato(template_item, $(this).html());
            }).parent().remove();
            $('.content-encabezado > li').each(function(){
                ajustarPreguntaFormatoEncabezado(template_item, $(this).html());
                //$('.encabezado-pagina .encabezado-drop-pregunta').html($(this).html());
            }).parent().remove();
            /*Construcción*/
            ajustarMargenes();
            $(window).on('scroll, resize', function(){
                ajustarMargenes();
            });
            $('ol.drop_pregunta').on('scroll',function(){
                $(this).find('.opciones-pregunta-pagina').each(function(){
                    posicionOpcionesPreguntaPagina(this);
                });
            });
            $('.hoja-config').find('.btn.design').click(function(){
                var click_open = true;
                if($('html').hasClass('mm-opened') && !$('html').hasClass('mm-right')){
                    $('nav.mmenu').not(menu_open_r).on("closed.mm",function(){
                            if(click_open){
                                $(menu_open_r).trigger('toggle.mm');
                                click_open = false;
                            }
                        }
                    ).trigger('close.mm');
                }else{
                    $(menu_open_r).trigger('toggle.mm');
                }
            });
        });
        function dragItemsGroup(){
        var sort = '.content-group-preguntas';
            $(sort).sortable({
                connectWith: '.drop_pregunta',
                dropOnEmpty: true,
                scroll: false,
                placeholder: "btn btn-warning placeholder-sort-group-pregunta",
                helper: function(e, el){
                    return el.clone().css({marginTop: '-47%'});
                },
                start: function (event, ui){
                    pos_antes = -1;
                    if(ui.item.find('.text-success').length && typeof ui.item.attr('href') === 'undefined'){
                        pos_antes = ui.item.index()+1;
                    }
                },
                receive: function(event, ui){
                    $.ajax({
                        url:   "{{ url("preguntaFormato__agregarEtiquetas", {'accion': 'Agrupar','formato':entity.canonical}) }}",
                        data: {
                            pregunta: ui.item.find('.view-pregunta').attr('id'), 
                            posicion: ui.item.find('.view-pregunta').attr('data-pos'),
                            etiqueta: ui.item.parents('.content-group-preguntas').attr('class')
                        }
                    }).done(function(data) {
                        console.log(data);
                    }).fail(function( jqXHR, textStatus ) {
                        console.log("Request failed: "+textStatus);
                    }).always(function() {
                        
                    });
                },
                stop: function(event, ui) {
                    console.log('----__________----')
                    console.log($(ui.item).attr('id'))
                    console.log($(ui.item).attr('class'))
                    console.log($(ui.item).attr('data-pos'))
                    console.log('----__________----')
                    /*$.ajax({
                        url:   "{{ url("preguntaFormato__agregarEtiquetas", {'accion': 'Agrupar','formato':entity.canonical}) }}",
                        data: {'pregunta': $(ui.item).attr('id'), 'pos': $(ui.item).attr('data-pos')},
                    }).done(function(data) {
                        
                    }).fail(function( jqXHR, textStatus ) {
                        console.log("Request failed: "+textStatus);
                    }).always(function() {
                        
                    });*/
                }
            });
        }
        function dragSortPreguntas(sort, drag, id, etiqueta){
            $( sort ).sortable({
                connectWith: drag,
                dropOnEmpty: true,
                placeholder: "btn btn-warning placeholder-sort-pregunta",
                scroll: false,
                start: function (event, ui){
                    pos_antes = -1;
                    if(ui.item.find('.text-success').length && typeof ui.item.attr('href') === 'undefined'){
                        pos_antes = ui.item.index()+1;
                    }
                },
                stop: function(event, ui) {
                    /*Obtiene la estructura*/
                    //addHoja();
                    if(typeof ui.item.attr('href') !== 'undefined'){
                        $.ajax({
                            url:   ui.item.attr('href')+ui.item.index()+'/'+etiqueta
                        }).done(function(data) {
                            ajustarPreguntaFormato_(template, data, ui.item,id);
                        }).fail(function( jqXHR, textStatus ) {
                            console.log("Request failed: "+textStatus);
                        }).always(function() {
                            ajustarContentAjax();
                            ajustarPlaceholder();
                            ajustarMargenes();
                            //if(sort === ".encabezado-drop-pregunta")
                            checkFormPregunta_(sort,id);
                            addHoja();
                            dragItemsGroup();
                        });
                    }else{
                        
                    }
                    /*Obtiene la estructura*/
                }
            });
            $( drag ).draggable({
                connectToSortable: sort,
                helper: function(){
                    return $(this).clone();
                },
                dropOnEmpty: true,
                revert: "invalid",
                scroll: false,
                start: function(event, ui){
                    $('html.mm-opened .mm-menu.mm-right.mm-front .mm-inner').css({
                        overflow: 'visible'
                    });
                },
                stop: function(event, ui){
                    $('html.mm-opened .mm-menu.mm-right.mm-front .mm-inner').css({
                        overflow: 'auto'
                    });
                }
            });
            checkFormPregunta_(sort,id);
        }
        function ajustarMargenes(){
            $('.hoja-inf .margen').position({
                of:         $(window) ,
                my:         "center bottom-20",
                at:         "center bottom",
                collision:  "none none"
            });
            $('.hoja-sup .margen').position({
                of:         $(window) ,
                my:         "center top+60",
                at:         "center top",
                collision:  "none none"
            });
            $('.hoja-der .margen').position({
                of:         $(window) ,
                my:         "right center+10",
                at:         "right center",
                collision:  "none none"
            });
            $('.hoja-izq .margen').position({
                of:         $(window) ,
                my:         "left center",
                at:         "left center",
                collision:  "none none"
            });
        }
        function ajustarPreguntaFormato(template_item, data, item){
            ajustarPreguntaFormato_(template_item, data, item, '.hoja-cont .contenido-pagina .drop_pregunta');
        }
        function ajustarPreguntaFormatoEncabezado(template_item, data, item){
            ajustarPreguntaFormato_(template_item, data, item, '.hoja-cont .encabezado-pagina .encabezado-drop-pregunta');
        }
        function ajustarPreguntaFormatoPie(template_item, data, item){
            ajustarPreguntaFormato_(template_item, data, item, '.hoja-cont .pie-pagina .pie-drop-pregunta');
        }
        function ajustarPreguntaFormato_(template_item, data, item, id){
            var li = template_item.clone();
            li.html(data);
            
            var enunciado = li.children('.enunciado');
            li.addClass(enunciado.attr('class')).removeClass('enunciado');
            
            enunciado.siblings('.plantilla-aplica').find('.enunciado-pregunta').html(enunciado.html());
            enunciado.remove();
            li.find('.enunciado-pregunta > div:first-child').prependTo(li);
            if(typeof item === 'undefined'){
                $(id).append(li);
                $(this).remove();
            }else{
                li = $('<li>'+li.html()+'</li>').addClass(template_item.attr('class'));
            }
            
            if(typeof item !== 'undefined'){
                item.replaceWith(li);
            }
            
            var respuestas = li.children('.respuestas');
            var rtas = respuestas.siblings('.plantilla-aplica').find('.respuesta-pregunta').html(respuestas.html());
            respuestas.remove();
            
            activarShowHideOpcionesPreguntaPagina(li);
            /*Botones de Configuración de la Pregunta*/
            li.find('.cerrar-edicion-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                hideOpcionesPreguntaPagina($(this).parents('.opciones-pregunta-pagina'));
                $('.editando').removeClass('editando');
                setTimeout(function(){
                    addHoja();
                }, 550);
            });
            li.find('.editar-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                var este = $(this).parents('.enunciado-pregunta');
                hideOpcionesPreguntaPagina();
                $('.editando').removeClass('editando');
                este.addClass('editando');
                este.parent().addClass('editando');
                este.parent().parent().addClass('editando');
                este.siblings('.respuesta-pregunta').addClass('editando');
                showOpcionesPreguntaPagina(este);
                var intShow = setInterval(function(){
                    posicionOpcionesPreguntaPagina(este.find('.opciones-pregunta-pagina'));
                }, 25);
                setTimeout(function(){
                    clearInterval(intShow);
                    addHoja();
                }, 500);
            });
            li.find('.add-respuesta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url:   $(this).attr('href')
                }).done(function(data) {
                    li.find('.respuesta-pregunta').html(data);
                    var num = parseInt($('.enunciado-pregunta .opciones .num').text());
                    li.find('.enunciado-pregunta .opciones .num').text(++num);
                    checkRespuestasPregunta(li.find('.respuesta-pregunta'));
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarContentAjax();
                    ajustarPlaceholder();
                    addHoja();
                });
            });
            li.find('.borrar-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $(this).parents('.template-item-pregunta').remove();
                addHoja();
            });
            li.find('.guardar-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $('.enunciado-pregunta').removeClass('editando');
                $(this).parents('form').find('input[type=submit]').click();
            });
            checkRespuestasPregunta(rtas);
            li.find('.opciones-respuesta .borrar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                console.log('borrar');
            });
            li.find('.opciones-respuesta .duplicar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                console.log('duplicar');
            });
            li.find('.opciones-respuesta .configurar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                console.log('configurar');
            });
            li.find('.text-muted.opciones a').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url:   $(this).attr('href')
                }).done(function(data) {
                    li.find('.respuesta-pregunta').html(data);
                    checkRespuestasPregunta(li.find('.respuesta-pregunta'));
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarPlaceholder();
                    addHoja();
                });
            });
        }
        function activarShowHideOpcionesPreguntaPagina(li){
            $(li).on({
                mouseenter: function(){
                    showOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                },
                mouseleave: function(){
                    hideOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                },
                focusin: function(){
                    showOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                },
                focusout: function(){
                    hideOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                }
            });
        }
        function showOpcionesPreguntaPagina(este){
            if($(este).find('.opciones-pregunta-pagina').length){
                hideOpcionesPreguntaPagina($('.enunciado-pregunta'));
                $(este).find('.opciones-pregunta-pagina').stop().css({
                    display: 'block'
                }).animate({
                    'opacity': 1
                });
                posicionOpcionesPreguntaPagina(este.find('.opciones-pregunta-pagina'));
            }
        }
        function hideOpcionesPreguntaPagina(este){
            $('.enunciado-pregunta').not('.editando').find('.opciones-pregunta-pagina').stop().animate({
                'opacity': 0
            }, function(){
                $(this).css({
                    display: 'none'
                });
            });
            if(typeof este !== 'undefined' && !$(este).hasClass('editando')){
                $(este).find('.opciones-pregunta-pagina').stop().animate({
                    'opacity': 0
                }, function(){
                    $(this).css({
                        display: 'none'
                    });
                });
            }
        }
        function checkRespuestasPregunta(rta){
            rta.find('form.edit-inline').on('submit', function(e){
                e.preventDefault();
                e.stopPropagation();
                var este = $(this).parent();
                $.ajax({
                    url:   $(this).attr('action'),
                    data:   $(this).serialize(),
                    method: $(this).attr('method')
                }).done(function(data) {
                    $(este).replaceWith(data);
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarContentAjax();
                    ajustarPlaceholder();
                    ajustarMargenes();
                });
                return false;
            });
            rta.find('a.btn.guardar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                $(this).parents('.opciones-respuesta').siblings('form').submit();
            });
        }
        function checkFormPregunta_(form, id){
            if($('select').parent().hasClass('form-control')){
                $('select').parent().css({
                    padding:    0
                });
            }
            $('.design-formato '+form+' .template-item-pregunta input:not(:disabled), '+'.design-formato '+form+' .template-item-pregunta select:not(:disabled)').on({
                focusin: function(){
                    if($(this).parent().hasClass('form-control')){
                        $(this).parent().css({
                            border  :    'none',
                            'box-shadow'  :    'none',
                            padding:    0
                        });
                    }
                },
                focusout: function(){
                    if($(this).parent().hasClass('form-control')){
                        $(this).parent().removeAttr('style');
                        $(this).parent().css({
                            border  :    'none',
                            'box-shadow'  :    'none',
                            padding:    0
                        });
                    }
                },
                mouseenter: function(){
                    if($(this).parent().hasClass('form-control')){
                        $(this).parent().css({
                            border  :    'none',
                            'box-shadow'  :    'none',
                            padding:    0
                        });
                    }
                },
                mouseleave: function(){
                    if($(this).parent().hasClass('form-control')){
                        $(this).parent().removeAttr('style');
                        $(this).parent().css({
                            padding:    0
                        });
                    }
                }
            });
            $('.template-item-pregunta .options-design a').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                var este = $(this);
                $.ajax({
                    url:   $(this).attr('href')
                }).done(function(data) {
                    if(!data.error){
                        if(data.etiqueta.indexOf('Columnas') >= 0){
                            este.parents('.template-item-pregunta')
                                .removeClass('Columnas-1')
                                .removeClass('Columnas-2')
                                .removeClass('Columnas-3')
                                .removeClass('Columnas-4')
                                .removeClass('Columnas-5')
                                .removeClass('Columnas-6')
                                .find('.content-group-preguntas')
                                    .removeClass('Columnas-1')
                                    .removeClass('Columnas-2')
                                    .removeClass('Columnas-3')
                                    .removeClass('Columnas-4')
                                    .removeClass('Columnas-5')
                                    .removeClass('Columnas-6');
                        }else if(data.etiqueta.indexOf('Alinear') >= 0){
                            este.parents('.template-item-pregunta')
                                .removeClass('Alinear-al-Centro')
                                .removeClass('Alinear-a-la-Izquierda')
                                .removeClass('Alinear-a-la-Derecha')
                                .find('.content-group-preguntas')
                                    .removeClass('Alinear-al-Centro')
                                    .removeClass('Alinear-a-la-Izquierda')
                                    .removeClass('Alinear-a-la-Derecha');
                        }else if(data.etiqueta.indexOf('Ancho') >= 0){
                            este.parents('.template-item-pregunta')
                                .removeClass('Ancho-1')
                                .removeClass('Ancho-2')
                                .removeClass('Ancho-3')
                                .removeClass('Ancho-4')
                                .removeClass('Ancho-5')
                                .removeClass('Ancho-6')
                                .find('.content-group-preguntas')
                                    .removeClass('Ancho-1')
                                    .removeClass('Ancho-2')
                                    .removeClass('Ancho-3')
                                    .removeClass('Ancho-4')
                                    .removeClass('Ancho-5')
                                    .removeClass('Ancho-6');
                        }else if(data.etiqueta.indexOf('En-') >= 0){
                            este.parents('.template-item-pregunta')
                                .removeClass('En-Linea')
                                .removeClass('En-Bloque')
                                .find('.content-group-preguntas')
                                    .removeClass('En-Linea')
                                    .removeClass('En-Bloque');
                        }
                        este.parents('.template-item-pregunta').addClass(data.etiqueta);
                        este.parents('.template-item-pregunta').find('.content-group-preguntas').addClass(data.etiqueta);
                    }
                    console.log(data);
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarPlaceholder();
                    addHoja();
                });
            });
            $(form+' .enunciado-pregunta form').on('submit', function(e){
                e.preventDefault();
                e.stopPropagation();
                var este = $(this).parents('.template-item-pregunta');
                $.ajax({
                    url:   $(this).attr('action'),
                    data:   $(this).serialize(),
                    method: $(this).attr('method')
                }).done(function(data) {
                    ajustarPreguntaFormato_(template, data, este, id);
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarContentAjax();
                    ajustarPlaceholder();
                    ajustarMargenes();
                });
            });
        }
        function posicionOpcionesPreguntaPagina(este){
            $(este).position({
                of:         $(este).parents('.template-item-pregunta'),
                my:         "left top",
                at:         "right-5 top",
                collision:  "fit fit"
            });
        }
        function addHoja(){
            $(".contenido-pagina .drop_pregunta").each(function(){
                var hoja = $(this).parents('.hoja-cont'),
                    contenido = $(this).parents('.contenido-pagina'),
                    top = parseFloat(hoja.css('padding-top').toString().replace('px',''))+parseFloat(hoja.css('margin-top').toString().replace('px','')),
                    bottom = parseFloat(hoja.css('padding-bottom').toString().replace('px',''))+parseFloat(hoja.css('margin-bottom').toString().replace('px','')),
                    h = contenido.height()
                    ;
                if(contenido.height() <= $(this).height()){
                    var pagina = 1,
                        salto = top+bottom+50+(hoja.height()-contenido.height());
                    if (max_items >= 0){
                        console.log(h);
                    }else
                        $('.drop_pregunta li.template-item-pregunta')
                            .removeClass('salto-pagina')
                            .removeAttr('style')
                            .each(function(i){
                            var top_ = parseFloat($(this).css('padding-top').toString().replace('px',''))+parseFloat($(this).css('margin-top').toString().replace('px','')),
                                bottom_ = parseFloat($(this).css('padding-bottom').toString().replace('px',''))+parseFloat($(this).css('margin-bottom').toString().replace('px','')),
                                height_ = $(this).height()+top_+bottom_,
                                height = i*height_;
                            if(height >= h && max_items < 0){
                                if(!contenido.find('.enunciado-pregunta').hasClass('editando')){
                                    salto = (salto+height_);
                                }
                                max_items = i-1;
                                var salto_pag = $(this).prev(), dif = height-h;
                                salto_pag.css({
                                    'margin-top': salto+'px'
                                });
                                salto_pag.addClass('salto-pagina');
                                height = 0;
                                pagina++;
                                /*console.log($(this).find('.enunciado-pregunta').hasClass('editando'))
                                console.log($(this).next().find('.enunciado-pregunta').hasClass('editando'))
                                console.log($(this).prev().find('.enunciado-pregunta').hasClass('editando'))
                                console.log(i)
                                console.log(height)
                                console.log(height_)
                                console.log(height_*i)
                                console.log(dif)
                                console.log(max_items)
                                console.log('****.*.**.**.***.****')*/
                            }
                        });
                    if(paginas*contenido.height() < $(this).height()){
                        var hoja2 = hoja.clone();
                        hoja2.find('.contenido-pagina .drop_pregunta').remove();
                        hoja.parent().append(hoja2);
                        paginas++;
                    }
                }
                ajustarMargenes();
            });
        }
    </script>
{% endblock %}