{% extends '::base_bootstrap.html.twig' %}

{% block body -%}
    {% include "FormatEasyFormatosBundle:Formato:_edit.html.twig" %}
    <ul class="content-plantilla">
        {% for pf in entity.preguntas %}
            {% if 'Formato' in pf.plantillaRespuesta.getTextEtiquetas %}
            <li>
            {% render(controller('FormatEasyFormatosBundle:PreguntaFormato:editPreguntaFormato', {'id': pf.id})) %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="content-encabezado">
        {% for pf in entity.preguntas %}
            {% if 'Encabezado' in pf.plantillaRespuesta.getTextEtiquetas and 'Formato' not in pf.plantillaRespuesta.getTextEtiquetas%}
            <li>
            {% render(controller('FormatEasyFormatosBundle:PreguntaFormato:editPreguntaFormato', {'id': pf.id})) %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="content-pie">
        {% for pf in entity.preguntas %}
            {% if 'Pie' in pf.plantillaRespuesta.getTextEtiquetas and 'Encabezado' not in pf.plantillaRespuesta.getTextEtiquetas and 'Formato' not in pf.plantillaRespuesta.getTextEtiquetas%}
            <li>
            {% render(controller('FormatEasyFormatosBundle:PreguntaFormato:editPreguntaFormato', {'id': pf.id})) %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        var template, pos_antes = -1, paginas = 1, max_items = -1;
        $(document).ready(function(){
            $('.margen').addClass('mouseenter');
            var f = eval({{ entity.json | raw}}),
                pf = eval({{ plantillaFormato.json | raw}}),
                hoja = pf.hoja;
            $('.hoja-cont').css({
                'padding-top'    : f.margen_sup+f.unidad_margen,
                'padding-right'  : f.margen_der+f.unidad_margen,
                'padding-left'   : f.margen_izq+f.unidad_margen,
                'padding-bottom' : f.margen_inf+f.unidad_margen,
                'height': hoja.alto+hoja.unidad,
                'width' : hoja.ancho+hoja.unidad
            });
            $('form.edit-inline .hoja-cont').children().on({
                focusin: function(){
                    $('.hoja-cont').addClass('focused');
                },
                focusout: function(){
                    $('.hoja-cont').removeClass('focused');
                }
            });
            $('.margen').on({
                mouseenter: function(){
                    $(this).addClass('mouseenter');
                },
                mouseleave: function(){
                    if(!$(this).hasClass('focused'))
                        $(this).removeClass('mouseenter');
                },
                focusin: function(){
                    $(this).addClass('focused');
                },
                focusout: function(){
                    $(this).removeClass('focused mouseenter');
                }
            });
            var margen_input = null;
            $('.margen input, #unidad').on({
                mouseenter: function(){
                    if($(this).attr('id') !== 'unidad'){
                        margen_input = $(this);
                        $('#unidad').position({
                            of:         margen_input,
                            my:         "right center",
                            at:         "right center",
                            collision:  "fit fit"
                        });
                    }
                    margen_input.parent().addClass("mouseenter");
                    $('#unidad').stop().animate({opacity: 1});
                },
                mouseleave: function(){
                    
                    if(!margen_input.hasClass('focused') && !$('#unidad').hasClass('focused')){
                        margen_input.parent().removeClass("focused mouseenter");
                        $('#unidad').stop().animate({opacity: 0});
                    }
                },
                focusin: function(){
                    if($(this).attr('id') !== 'unidad'){
                        margen_input = $(this);
                        $('#unidad').position({
                            of:         margen_input,
                            my:         "right center",
                            at:         "right center",
                            collision:  "fit fit"
                        });
                    }
                    margen_input.parent().addClass("focused mouseenter");
                    $('#unidad').addClass('focused').stop().animate({opacity: 1});
                },
                focusout: function(){
                    $('#unidad').removeClass('focused').stop().animate({opacity: 0});
                    margen_input.parent().removeClass('mouseenter focused');
                }
            });
            
            /*Carga de la Página*/
            $('.hoja-cont .encabezado-pagina').css({
                'height'    :  f.margen_sup+f.unidad_margen,
                'margin-top':  (f.margen_sup*-1)+f.unidad_margen
            });
            $('.hoja-cont .pie').css({
                'height'    :  f.margen_inf+f.unidad_margen
            });
            //Template de los item de pregunta
            var template_item = $('.hoja-cont .contenido-pagina .template-item-pregunta').remove();
            template = template_item.clone();
            /*Carga de la Página*/
            
            /*Configuración*/
            var menu_open_l = '#mmenu-left';
            $(menu_open_l).find('.mm-inner .mmenu-content').html($('.hoja-config .form-hide').html());
            $(menu_open_l).find('.mm-inner .mmenu-content').find('select').on('change', function(){
                var val = $(this).val();
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')+' option').removeAttr('selected');
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')+' option[value='+val+']').attr('selected', true);
            });
            $(menu_open_l).find('.mm-inner .mmenu-content textarea').on('change, keyup', function(){
                var val = $(this).val();
                $('.hoja-config .form-hide').find('#'+$(this).attr('id')).text(val);
            });
            $(menu_open_l).find('.mm-inner .mmenu-content input').on('change, keyup', function(){
                var val = $(this).val();
                if($(this).attr('type') === 'submit'){
                    $('.hoja-config .form-hide').find('#'+$(this).attr('id')).click();
                }else{
                    $('.hoja-config .form-hide').find('#'+$(this).attr('id')).val(val);
                }
            });
            $('.hoja-config').find('.btn.config').click(function(){
                var click_open = true;
                if($('html').hasClass('mm-opened') && !$('html').hasClass('mm-modal')){
                    $('nav.mmenu').not(menu_open_l).on("closed.mm",function(){
                            if(click_open){
                                $(menu_open_l).trigger('toggle.mm');
                                click_open = false;
                            }
                        }
                    ).trigger('close.mm');
                }else{
                    $(menu_open_l).trigger('toggle.mm');
                }
            });
            $('input[type=button].btn.delete').on('click', function(){
                if(true)
                    $('.form-hide.delete form').submit();
            });
            /*Configuración*/
            
            /*Construcción*/
            var menu_open_r = '#mmenu-right';
            
            $.ajax({
                url: "{{ url('_plantillarespuesta_buttonlist', {'formato': entity.canonical}) }}"  
            }).done(function(data) {
                $(menu_open_r).find('.mm-inner .mmenu-content').html(data);
                addHoja();
                /*********************************************/
                dragSortPreguntas(".drop_pregunta","#button-list-plantilla-respuesta a.Formato", '.hoja-cont .content-pagina .drop_pregunta', 'Formato');
                /*********************************************/
                dragSortPreguntas(".encabezado-drop-pregunta","#button-list-plantilla-respuesta a.Encabezado-Pagina", '.hoja-cont .encabezado-pagina .encabezado-drop-pregunta', 'Encabezado-Pagina');
                /*********************************************/
                //dragSortPreguntas(".pie-drop-pregunta","#button-list-plantilla-respuesta a.Pie-Pagina", '.hoja-cont .pie-pagina .pie-drop-pregunta', Pie-Pagina);
                /*********************************************/
                $( "#button-list-plantilla-respuesta a, ol li" ).disableSelection();
                
            }).fail(function( jqXHR, textStatus ) {
                console.log("Request failed: "+textStatus);
            }).always(function() {
                ajustarContentAjax();
            });
            $('#button-list-plantilla-respuesta a').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
            });
            $('.hoja-config').find('.btn.construct').click(function(){
                var click_open = true;
                if($('html').hasClass('mm-opened') && !$('html').hasClass('mm-right')){
                    $('nav.mmenu').not(menu_open_r).on("closed.mm",function(){
                            if(click_open){
                                $(menu_open_r).trigger('toggle.mm');
                                click_open = false;
                            }
                        }
                    ).trigger('close.mm');
                }else{
                    $(menu_open_r).trigger('toggle.mm');
                }
            });
            $('.content-plantilla li').each(function(){
                ajustarPreguntaFormato(template_item, $(this).html());
            }).parent().remove();
            $('.content-encabezado li').each(function(){
                ajustarPreguntaFormatoEncabezado(template_item, $(this).html());
                //$('.encabezado-pagina .encabezado-drop-pregunta').html($(this).html());
            }).parent().remove();
            /*Construcción*/
            ajustarMargenes();
            $(window).on('scroll, resize', function(){
                ajustarMargenes();
            });
            $('ol.drop_pregunta').on('scroll',function(){
                $(this).find('.opciones-pregunta-pagina').each(function(){
                    posicionOpcionesPreguntaPagina(this);
                });
            });
            $('.hoja-config').find('.btn.design').click(function(){
                window.location = "{{ url("formato_disenarFormato", {'id':entity.id}) }}"
            });
        });
        function dragSortPreguntas(sort, drag, id, etiqueta){
            $( sort ).sortable({
                connectWith: drag,
                dropOnEmpty: true,
                placeholder: "btn btn-warning placeholder-sort-pregunta",
                scroll: false,
                start: function (event, ui){
                    pos_antes = -1;
                    if(ui.item.find('.text-success').length && typeof ui.item.attr('href') === 'undefined'){
                        pos_antes = ui.item.index()+1;
                    }
                },
                stop: function(event, ui) {
                    /*Obtiene la estructura*/
                    //addHoja();
                    if(typeof ui.item.attr('href') !== 'undefined'){
                        $.ajax({
                            url:   ui.item.attr('href')+ui.item.index()+'/'+etiqueta
                        }).done(function(data) {
                            ajustarPreguntaFormato_(template, data, ui.item,id);
                        }).fail(function( jqXHR, textStatus ) {
                            console.log("Request failed: "+textStatus);
                        }).always(function() {
                            ajustarContentAjax();
                            ajustarPlaceholder();
                            ajustarMargenes();
                            //if(sort === ".encabezado-drop-pregunta")
                            checkFormPregunta_(sort,id);
                            addHoja();
                        });
                    }else{
                        if(ui.item.find('.text-success').length){
                            $.ajax({
                                url:   "{{ url('preguntaFormato__ordenPreguntaFormato_') }}",
                                data:   {pos_antes: pos_antes, pos_ahora: ui.item.index()+1, id: "{{ entity.id }}", etiqueta: etiqueta }
                            }).done(function(data) {
                               console.log(data);
                            }).fail(function( jqXHR, textStatus ) {
                                console.log("Request failed: "+textStatus);
                            });
                        }
                    }
                    /*Obtiene la estructura*/
                }
            });
            $( drag ).draggable({
                connectToSortable: sort,
                helper: function(){
                    return $(this).clone();
                },
                dropOnEmpty: true,
                revert: "invalid",
                scroll: false,
                start: function(event, ui){
                    $('html.mm-opened .mm-menu.mm-right.mm-front .mm-inner').css({
                        overflow: 'visible'
                    });
                },
                stop: function(event, ui){
                    $('html.mm-opened .mm-menu.mm-right.mm-front .mm-inner').css({
                        overflow: 'auto'
                    });
                }
            });
            checkFormPregunta_(sort,id);
        }
        function ajustarMargenes(){
            $('.hoja-inf .margen').position({
                of:         $(window) ,
                my:         "center bottom-20",
                at:         "center bottom",
                collision:  "none none"
            });
            $('.hoja-sup .margen').position({
                of:         $(window) ,
                my:         "center top+60",
                at:         "center top",
                collision:  "none none"
            });
            $('.hoja-der .margen').position({
                of:         $(window) ,
                my:         "right center+10",
                at:         "right center",
                collision:  "none none"
            });
            $('.hoja-izq .margen').position({
                of:         $(window) ,
                my:         "left center",
                at:         "left center",
                collision:  "none none"
            });
        }
        function ajustarPreguntaFormato(template_item, data, item){
            ajustarPreguntaFormato_(template_item, data, item, '.hoja-cont .contenido-pagina .drop_pregunta')
        }
        function ajustarPreguntaFormatoEncabezado(template_item, data, item){
            ajustarPreguntaFormato_(template_item, data, item, '.hoja-cont .encabezado-pagina .encabezado-drop-pregunta')
        }
        function ajustarPreguntaFormatoPie(template_item, data, item){
            ajustarPreguntaFormato_(template_item, data, item, '.hoja-cont .pie-pagina .pie-drop-pregunta')
        }
        function ajustarPreguntaFormato_(template_item, data, item, id){
            var li = template_item.clone();
            li.html(data);
            
            var enunciado = li.children('.enunciado');
            enunciado.siblings('.plantilla-aplica').find('.enunciado-pregunta').addClass(enunciado.attr('class')).removeClass('enunciado').html(enunciado.html());
            enunciado.remove();
            li.find('.enunciado-pregunta > div:first-child').prependTo(li);
            if(typeof item === 'undefined'){
                $(id).append(li);
                $(this).remove();
            }else{
                li = $('<li>'+li.html()+'</li>').addClass(template_item.attr('class'));
            }
            
            if(typeof item !== 'undefined'){
                item.replaceWith(li);
            }
            
            var respuestas = li.children('.respuestas');
            var rtas = respuestas.siblings('.plantilla-aplica').find('.respuesta-pregunta').html(respuestas.html());
            respuestas.remove();
            
            activarShowHideOpcionesPreguntaPagina(li);
            /*Botones de Configuración de la Pregunta*/
            li.find('.cerrar-edicion-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                hideOpcionesPreguntaPagina($(this).parents('.opciones-pregunta-pagina'));
                $('.editando').removeClass('editando');
                setTimeout(function(){
                    addHoja();
                }, 550);
            });
            li.find('.editar-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                var este = $(this).parents('.enunciado-pregunta');
                hideOpcionesPreguntaPagina();
                $('.editando').removeClass('editando');
                este.addClass('editando');
                este.parent().addClass('editando');
                este.parent().parent().addClass('editando');
                este.siblings('.respuesta-pregunta').addClass('editando');
                showOpcionesPreguntaPagina(este);
                var intShow = setInterval(function(){
                    posicionOpcionesPreguntaPagina(este.find('.opciones-pregunta-pagina'));
                }, 25);
                setTimeout(function(){
                    clearInterval(intShow);
                    addHoja();
                }, 500);
            });
            li.find('.add-respuesta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url:   $(this).attr('href')
                }).done(function(data) {
                    li.find('.respuesta-pregunta').html(data);
                    var num = parseInt($('.enunciado-pregunta .opciones .num').text());
                    li.find('.enunciado-pregunta .opciones .num').text(++num);
                    checkRespuestasPregunta(li.find('.respuesta-pregunta'));
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarContentAjax();
                    ajustarPlaceholder();
                    addHoja();
                });
            });
            li.find('.borrar-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $(this).parents('.template-item-pregunta').remove();
                addHoja();
            });
            li.find('.guardar-pregunta').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $('.enunciado-pregunta').removeClass('editando');
                $(this).parents('form').find('input[type=submit]').click();
            });
            checkRespuestasPregunta(rtas);
            li.find('.opciones-respuesta .borrar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                console.log('borrar');
            });
            li.find('.opciones-respuesta .duplicar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                console.log('duplicar');
            });
            li.find('.opciones-respuesta .configurar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                console.log('configurar');
            });
            li.find('.text-muted.opciones a').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url:   $(this).attr('href')
                }).done(function(data) {
                    li.find('.respuesta-pregunta').html(data);
                    checkRespuestasPregunta(li.find('.respuesta-pregunta'));
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarPlaceholder();
                    addHoja();
                });
            });
        }
        function activarShowHideOpcionesPreguntaPagina(li){
            $(li).on({
                mouseenter: function(){
                    showOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                },
                mouseleave: function(){
                    hideOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                },
                focusin: function(){
                    showOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                },
                focusout: function(){
                    hideOpcionesPreguntaPagina($(this).find('.enunciado-pregunta'));
                }
            });
        }
        function showOpcionesPreguntaPagina(este){
            if($(este).find('.opciones-pregunta-pagina').length){
                hideOpcionesPreguntaPagina($('.enunciado-pregunta'));
                $(este).find('.opciones-pregunta-pagina').stop().css({
                    display: 'block'
                }).animate({
                    'opacity': 1
                });
                posicionOpcionesPreguntaPagina(este.find('.opciones-pregunta-pagina'));
            }
        }
        function hideOpcionesPreguntaPagina(este){
            $('.enunciado-pregunta').not('.editando').find('.opciones-pregunta-pagina').stop().animate({
                'opacity': 0
            }, function(){
                $(this).css({
                    display: 'none'
                });
            });
            if(typeof este !== 'undefined' && !$(este).hasClass('editando')){
                $(este).find('.opciones-pregunta-pagina').stop().animate({
                    'opacity': 0
                }, function(){
                    $(this).css({
                        display: 'none'
                    });
                });
            }
        }
        function checkRespuestasPregunta(rta){
            rta.find('form.edit-inline').on('submit', function(e){
                e.preventDefault();
                e.stopPropagation();
                var este = $(this).parent();
                $.ajax({
                    url:   $(this).attr('action'),
                    data:   $(this).serialize(),
                    method: $(this).attr('method')
                }).done(function(data) {
                    $(este).replaceWith(data);
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarContentAjax();
                    ajustarPlaceholder();
                    ajustarMargenes();
                });
                return false;
            });
            rta.find('a.btn.guardar').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                $(this).parents('.opciones-respuesta').siblings('form').submit();
            });
        }
        function checkFormPregunta_(form, id){
            $(form+' .enunciado-pregunta form').on('submit', function(e){
                e.preventDefault();
                e.stopPropagation();
                var este = $(this).parents('.template-item-pregunta');
                $.ajax({
                    url:   $(this).attr('action'),
                    data:   $(this).serialize(),
                    method: $(this).attr('method')
                }).done(function(data) {
                    ajustarPreguntaFormato_(template, data, este, id);
                }).fail(function( jqXHR, textStatus ) {
                    console.log("Request failed: "+textStatus);
                }).always(function() {
                    ajustarContentAjax();
                    ajustarPlaceholder();
                    ajustarMargenes();
                });
            });
        }
        function posicionOpcionesPreguntaPagina(este){
            $(este).position({
                of:         $(este).parents('.template-item-pregunta'),
                my:         "left top",
                at:         "right-5 top",
                collision:  "fit fit"
            });
        }
        function addHoja(){
            $(".contenido-pagina .drop_pregunta").each(function(){
                var hoja = $(this).parents('.hoja-cont'),
                    contenido = $(this).parents('.contenido-pagina'),
                    top = parseFloat(hoja.css('padding-top').toString().replace('px',''))+parseFloat(hoja.css('margin-top').toString().replace('px','')),
                    bottom = parseFloat(hoja.css('padding-bottom').toString().replace('px',''))+parseFloat(hoja.css('margin-bottom').toString().replace('px',''));
                if(contenido.height() <= $(this).height()){
                    var pagina = 1,
                        salto = top+bottom+50+(hoja.height()-contenido.height());
                    if (max_items >= 0){
                        
                    }else
                        $(this).find('li')
                            .removeClass('salto-pagina')
                            .removeAttr('style')
                            .each(function(i){
                            var top_ = parseFloat($(this).css('padding-top').toString().replace('px',''))+parseFloat($(this).css('margin-top').toString().replace('px','')),
                                bottom_ = parseFloat($(this).css('padding-bottom').toString().replace('px',''))+parseFloat($(this).css('margin-bottom').toString().replace('px','')),
                                height_ = $(this).height()+top_+bottom_,
                                h = contenido.height(),
                                height = i*height_;
                            if(height >= h && max_items < 0){
                                /*var salto_pag = $(this).next(), dif = height-h;
                                if(dif > height_*3+1){
                                    salto_pag = $(this).next().next();
                                }else if(dif > height_*2){
                                    salto_pag = $(this).prev();
                                    if(dif > height_*2+1)
                                        salto = salto+(dif-height_);
                                    else
                                        salto = salto+(dif+height_);
                                }else if(dif > height_ || $(this).find('.enunciado-pregunta').hasClass('editando')){
                                    salto_pag = $(this);
                                    if($(this).find('.enunciado-pregunta').hasClass('editando'))
                                        salto = salto+(dif+40);
                                }*/
                                if(!contenido.find('.enunciado-pregunta').hasClass('editando')){
                                    salto = (salto+(height_*3));
                                }
                                max_items = i-2;
                                var salto_pag = $(this).prev().prev(), dif = height-h;
                                salto_pag.css({
                                    'margin-top': salto+'px'
                                });
                                salto_pag.addClass('salto-pagina')
                                height = 0;
                                pagina++;
                                /*console.log($(this).find('.enunciado-pregunta').hasClass('editando'))
                                console.log($(this).next().find('.enunciado-pregunta').hasClass('editando'))
                                console.log($(this).prev().find('.enunciado-pregunta').hasClass('editando'))*/
                                console.log(i)
                                console.log(height)
                                console.log(height_)
                                console.log(height_*i)
                                console.log(dif)
                                console.log(max_items)
                                console.log('****.*.**.**.***.****')
                            }
                        });
                    if(paginas*contenido.height() < $(this).height()){
                        var hoja2 = hoja.clone();
                        hoja2.find('.contenido-pagina .drop_pregunta').remove();
                        hoja.parent().append(hoja2);
                        paginas++;
                    }
                }
                ajustarMargenes();
            });
        }
    </script>
{% endblock %}